.additional-products {
    width: 320px;
    margin-bottom: 40px;
    }
    .additional-products__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;

    list-style: none;
    }

    .additional-products__title {

    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 24px;
    line-height: 1;
    }

    .additional-products__item {
    border-top: 1px solid #ededed;
      &:last-of-type {
      border-bottom: 1px solid #ededed;
      }
    }

    .additional-products__name {
    font-size: 16px;
    line-height: 1;
    text-align: left;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;
    }

    .additional-products__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    line-height: 1;
    font-family: @content-font;
    text-align: left;
    color: #444444;
    }
    .additional-products__button {
    margin-bottom: 17px;
    }
