.additional-products {
    .centr;
    margin-bottom: 40px;
    }
    .additional-products__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    list-style: none;
    }
    
    .additional-products__title {
    .centr;
    position: relative;
    margin-bottom: 30px;
    
    font-size: 24px;
    line-height: 1;
      
      &::before {
      content: "";
      
      position: absolute;
      top: 15px;
      right: -24px;
    
      display: block;
      width: 53px;
      height: 3px;
      background-color: @leaf;
    
    }
    }
    
    .additional-products__item {
    border-top: 1px solid #ededed;
      &:last-of-type { 
      border-bottom: 1px solid #ededed;
      }
    }
    
    .additional-products__name {
    font-size: 16px;
    line-height: 1;
    text-align: left;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;
    }
    
    .additional-products__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    line-height: 1;
    font-family: @arial;
    text-align: left;
    color: #444444;
    }
    .additional-products__button {
    margin-bottom: 17px;
    }