.button {
display: block;
width: 280px;
min-height: 33px;
margin: 0 auto;
text-align: center;
background-color: @leaf;
color: #ffffff;
text-transform: uppercase;
line-height: 18px;
padding-top: 14px;
&:hover {
    background-color: #5eaa2f;
}
&:active {
    color: rgba(255, 255, 255, 0.3)
}
}