.catalog__title {
margin-bottom: 35px;
margin-left: 20px;
}

.catalog__list {
min-width: 320px;
display: flex;
flex-direction: column;

margin: 0;
padding: 0;

list-style: none;
@media (min-width: 768px) {
flex-direction: row;
flex-wrap: wrap;
min-width: 708px;
margin-right: 30px;
margin-left: 30px;
}
}

.catalog__item {
display: flex;
flex-wrap: wrap;

padding-right: 20px;
padding-left:20px;

border-top: 1px solid #ededed;
border-bottom: 1px solid #ededed;

  @media (min-width: 768px) {
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-bottom: 140px;
  padding: 0;
  background-color: #f2f2f2;
}
  &:nth-child(2n) {
    @media (min-width: 768px) {
    margin-left: 60px;
    }
  }
}

.catalog__item-wrapper {
display: flex;
@media (min-width: 768px) {
flex-direction: column;
}
}

.catalog__button {
min-height: 28px;
min-width: 280px;
margin-bottom: 24px;

  @media (min-width:768px) {
  min-width: 250px;
  }
}

.showmore {
position: relative;
justify-content: center;
min-height: 210px;

  &::before {
  content: "";
  position: absolute;
  top: 27px;
  left: calc(50% - 16.5px);

  display: block;
  width: 31px;
  height: 31px;

  background-image: url(/img/icon-plus-mobile.svg);
  opacity: 0.2;
  }
}
