.catalog__title {
margin-bottom: 35px;
margin-left: 20px;
}

.catalog__list {
min-width: 320px;
display: flex;
flex-direction: column;

margin: 0;
padding: 0;

list-style: none;
}

.catalog__item {
display: flex;
flex-wrap: wrap;

padding-right: 20px;
padding-left:20px;

border-top: 1px solid #ededed;
border-bottom: 1px solid #ededed;
}

.catalog__item-wrapper {
display: flex;
}

.catalog__button {
min-height: 28px;
min-width: 280px;
margin-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .catalog__list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 708px;
  margin-right: 30px;
  margin-left: 30px;
  }

  .catalog__item {
  flex-direction: column;
  align-items: center;
  width: 325px;
  margin-bottom: 140px;
  padding: 0;
  background-color: #f2f2f2;


  }

  .catalog__item-wrapper {
  flex-direction: column;
  }

  .catalog__button {
  min-width: 250px;
  }

}
@media (min-width: @desktop-width) {
  .catalog {
  margin-left: 110px;
  margin-right: 110px;
  }
  .catalog__title {
  margin-bottom: 156px;
  }

  .catalog__list {
    justify-content: space-between;
  }

  .catalog__item {
    width: 245px;
  }
  .catalog__button {
    min-width:170px;
    margin-bottom: 40px;
  }
}

