.comment__field {
min-width: 280px;
min-height: 150px;
resize: none;
padding: 0;
margin: 0;
padding-top: 15px;
padding-left: 16px;
}

@media (min-width: @tablet-width) {
  .comment {
  margin-bottom: 71px;
  }

  .comment__field {
    min-height: 175px;
  }
}

@media (min-width: @desktop-width) {
  .comment {
  width: 100%;
  }

}
