.contacts {

  display: flex;
  align-items: center;

  background-color: #ffffff;
}

.contacts__title {
  margin: 0;
  margin-right: 7%;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  line-height: 1.25;
  font-family: @content-font;
  text-align: left;
  color: #444444;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    width: 20%;
    font-size: 20px;
  }

  .contacts__address {
    width: 25%;
    font-size: 16px;
  }
}
