.copyright__name {
margin-right: 141px;
    
line-height: 16px;
font-family: @arial;
color: #444444;  
}

.copyright__image-wrapper { 
display: block; 
width:32px; 
height: 38px; 
} 
       
.copyright__image { 
color:#666666; 
}