.examples {
background-color: #f2f2f2;
}

.examples__wrapper {
.centr;
}

.examples__title {
padding-top: 33px;
margin-bottom: 33px;
}

.examples__text {
width: fit-content;
margin-right: 20px;
margin-bottom: 27px;
font-family: @arial;
line-height: 18px;
color: #444444;

}