.examples-slider__slides-wrapper {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.examples-slider__slide {
  width: 100%;

  &--after {
    display: none;
  }
}

.examples-slider__controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62%;
  margin-left: 63px;
  padding-bottom: 38px;
}

.examples-slider__controller-title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  user-select: none;
}


.examples-slider__toggler {
  width: 43%;
  height: 14px;
  border: 1px solid #cdcdcd;


  background-color: #ffffff;
  border-radius: 6px;

  cursor: pointer;
}

.examples-slider__toggler-range {
  width: 35px;
  height: 6px;
  margin-top: 3px;
  margin-left: 6px;
  border-radius: 3px;
  background-color: @leaf;
}

@media (min-width: @tablet-width) {
  .examples-slider__controllers {
    margin: 0;
    width: 100%;
    padding-left: 98px;
    padding-right: 99px;
    background-color: #f2f2f2;
    padding-top: 369px;
    padding-bottom: 68px;
    margin-top: -377px;
  }

  .examples-slider__toggler {
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 6px;
    width: 100%;
    border: none;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    height: 6px;
  }


  .examples-slider__toggler-range-item {
    display: block;
    margin-left: calc(50% - 4px);
    margin-top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @leaf;
    box-sizing: content-box;
  }

  .examples-slider__toggler-range {
    margin: 0;
    position: absolute;
    top: calc(50% - $height / 2);
    left: calc(50% - $width / 2);
    background-color: #ffffff;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);

      & .examples-slider__controller-title {
        border-bottom-color: rgba(0, 0, 0, 0.4);
        border-bottom-style: solid;
      }
    }

    &:active {
      border: 2px solid @leaf;
    }
  }

  .examples-slider__controller-title {
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted #cdcdcd;
    padding-bottom: 6px;
  }

  .examples-slider__slide {
    width: 89.5%;
    margin: 0 auto;

    &--before {
      margin-left: 47px;
      margin-top: -8px;
      clip-path: inset(0 51% 0 0);
    }

    &--after {
      display: block;
      margin-top: -67.6%;
      clip-path: inset(0 0 0 49%);
      margin-left: 47px;
    }
  }
}

@media (min-width: @desktop-width) {
  .examples-slider {
    width: 48%;

    margin-top: -8.5%;
    margin-left: 9%;
  }

  .examples-slider__slides-wrapper {
    margin-bottom: 30px;
  }

  .examples-slider__controllers {
    background: none;
    padding-left: 59px;
    padding-right: 47px;
    margin-top: -361px;
  }

  .examples-slider__slide {
    width: 100%;

    &--before {
      margin-left: -27px;
      margin-top: -68px;
      clip-path: inset(0 46.8% 0 0);
    }

    &--after {
      display: none;
    }
  }

  @supports (clip-path: inset(0 46.8% 0 0)) {
    .examples-slider__slide {
      &--after {
        margin-left: -26px;
        margin-top: -75.5%;
        clip-path: inset(0 0 0 52.9%);
        display: block;
      }
    }
  }
}
