.examples {
background-color: #f2f2f2;
margin-bottom: 31px;
min-width: 320px;
}

.examples__wrapper {
.centr;
}

.examples__title {
margin: 0;
margin-bottom: 33px;
padding-top: 33px;
}

.examples__text {
width: fit-content;
margin-right: 20px;
margin-bottom: 27px;

line-height: 18px;
font-family: @content-font;
color: #444444;

}
