.examples-slider__slides-wrapper {
margin: 0;
padding: 0;

list-style: none;
}

.slider-image {
margin-bottom: 35px;
}
.examples-slider__controllers {
display: flex;
justify-content: space-between;
align-items: center;
width: 200px;
margin: 0 auto;
padding-bottom: 38px;

}

.examples-slider__controller-title {
color: #111111;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}

.examples-slider__toggler {
width: 84px;
height: 14px;
border: 1px solid #cdcdcd;


background-color: #ffffff;
border-radius: 6px;

cursor: pointer;
}

.examples-slider__toggler-range {
width: 35px;
height: 6px;
margin-top: 4px;
margin-left: 6px;
border-radius: 3px;
background-color: @leaf;
}