.examples {
  position: relative;

  background-color: #f2f2f2;

  min-width: 320px;
  z-index: -2;
}

.examples__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 29px;
  padding-left: 6.25%;
}

.examples__text {
  width: fit-content;
  margin-bottom: 25px;

  line-height: 18px;
  font-family: @content-font;
  color: #444444;
}

.examples__content {
  padding-left: 6.25%;
  padding-right: 7.25%;
}

@media (min-width: @tablet-width) {
  .examples {
    padding: 0;
    background-color: #ffffff;
  }

  .examples__title {
    padding-top: 39px;
    margin-bottom: 65px;
    padding-left: 4%;
    font-size: 60px;
    line-height: 1;
  }

  .examples__text {
    color: #444444;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 52px;
    width: 99%;
  }

  .examples__content {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: @desktop-width) {
  .examples__title {
    padding: 0;
    padding-left: 52px;
    margin-top: -13px;
    margin-bottom: 75px;
  }

  .examples__wrapper {
    display: flex;
    background-color: #f2f2f2;
    margin-left: -7%;
  }

  .examples__content {
    width: 44%;
    padding-left: 13.7%;
    margin-top: 4.2%;
    padding-right: 0;
  }

  .examples__text {
    margin-bottom: 14.5%;
    width: 93%;
    margin-top: 7px;
  }
}
