.form {
  margin-bottom: 23px;
  min-width: 280px;
}

.form__fieldset {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  border: none;
}

.form__legend {
  margin: 0;
  margin-bottom: 34px;
  padding-left: 5.9%;

  font-size: 24px;
  line-height: 1;
  color: #111111;
  width: 100%;
  display: flex;
}

.form__label {
  margin-bottom: 14px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;

  color: #222222;
  text-transform: uppercase;

  white-space: nowrap;

  &--program-choose {
    position: relative;

    &::before {
      content: "";

      display: inline-block;
      vertical-align: middle;
      width: 29px;
      height: 29px;
      margin-right: 15px;
      margin-top: -3px;
      border: 1px solid #cdcdcd;

      border-radius: 50%;

      cursor: pointer;
    }

    &::after {
      content: "";
      display: none;
      position: absolute;

      top: 6px;
      left: 9.5px;

      vertical-align: middle;
      width: 12px;
      height: 12px;

      background-color: @leaf;
      border-radius: 50%;

      cursor: pointer;
    }
  }

  &--additional-product {
    position: relative;

    &::before {
      content: "";

      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
      width: 28px;
      height: 28px;
      border: 1px solid #cdcdcd;

      cursor: pointer;
    }

    &::after {
      content: "";

      position: absolute;
      top: 5px;
      left: 5px;
      display: none;
      width: 22px;
      height: 17px;
      background-image: url("..//img/icon-tick.svg");

      cursor: pointer;
    }
  }
}

.form__input {
  width: 100%;
  height: 45px;

  flex-grow: 2;
  padding: 0;
  padding-left: 13px;
  padding-bottom: 5px;
  border: 1px solid #cdcdcd;
  border-color: rgba(#cdcdcd, 50%);

  font-family: "Oswald", "Helvetica", sans-serif;
  color: #444444;
  font-size: 20px;
  text-transform: uppercase;

  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-input-placeholder {
      color: transparent;
    }

    &:-moz-input-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}

::-webkit-input-placeholder {

  font-size: 16px;
  line-height: 1.13;
  color: rgba(#444444, 100%);
  font-family: "Oswald", "Helvetica", sans-serif;
  text-transform: uppercase;
}

::-moz-placeholder {
  font-size: 16px;
  line-height: 1;
  color: rgba(#444444, 100%);
  font-family: "Oswald", "Helvetica", sans-serif;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.13;
  color: rgba(#444444, 100%);
  font-family: "Oswald", "Helvetica", sans-serif;
  text-transform: uppercase;
}


.form__item {
  margin: 0;
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}


.form__button {
  width: 88%;
  height: 40px;
  margin-bottom: 22px;
  padding-bottom: 10px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  border: none;

  cursor: pointer;
}

.form__required-details {
  display: block;
  margin-bottom: 34px;
  text-align: center;
  font-family: @content-font;
  line-height: 1.14;
  color: #444444;
}


@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 50px;
  }

  .form__input {
    min-height: 53px;
    font-size: 20px;
    line-height: 1;
    margin-top: 3px;
    padding-left: 18px;
  }

  :-ms-input-placeholder {
    font-size: 20px;
  }

  ::-moz-placeholder {
    font-size: 20px;
  }

  ::-webkit-input-placeholder {
    font-size: 20px;
  }

  .form__label {
    font-size: 20px;
    line-height: 1;
    margin-right: 17px;

    &--program-choose {
      &::before {
        width: 36px;
        height: 36px;
        margin-right: 20px;
      }

      &::after {
        width: 16px;
        height: 16px;
        top: 9px;
        left: 11.5px;
      }
    }

    &--additional-product {
      line-height: 1;
      top: 3px;

      &::before {
        width: 38px;
        height: 38px;
        margin-right: 14px;
        margin-top: -3px;
      }

      &::after {
        top: 10px;
        left: 10px;
      }
    }
  }

  .form__item {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  .form__legend {
    font-size: 36px;
    line-height: 1;
    padding: 0;
    margin-bottom: 74px;

    &--owner-data {
      margin-bottom: 70px;
    }
  }

  .form__button {
    width: 36.9%;

    min-height: 52px;
    margin: 0;
    display: inline-block;
    font-size: 20px;
    margin-left: 9.2%;
  }

  .form__required-details {
    margin-left: 57px;
    display: inline-block;
    padding-top: 0.5%;

    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 54px;
  }

  .form__button {
    margin-left: 10.2%;
  }

  .form__required-details {
    margin-left: 84px;
  }
}
