

.form-additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-additional__item {
  &:not(:last-of-type) {
    margin-bottom: 13px;
  }
}

@media (min-width: @tablet-width) {
  .form-additional {
    margin-bottom: 50px;
  }

  .form-additional__title {
    margin-bottom: 53px;
  }

  .form-additional__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 115px;
    align-content: space-between;
  }

  .form-additional__item {
    min-width: 39%;
  }
}

@media (min-width: @desktop-width) {
  .form-additional {
    width: 100%;
  }

  .form-additional__item {
    min-width: 15%;
  }
}
