.gift-offer {
  min-width: 280px;
  margin-bottom: 35px;
  margin-left: 6.25%;
  margin-right: 6.25%;
}

.gift-offer__wrapper {

  border-top: 1px solid transparent;
  height: 290px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("..//img/gift-photo-mobile@2x.jpg");
    background-size: 100% auto;
  }

  &::before {
    content: "";
    margin: 65px;
    margin-left: calc(50% - 28px);
    display: block;
    width: 56px;
    height: 61px;

    margin-bottom: 60px;

    background-image: url("..//img/icon-gift.svg");
  }
}

.gift-offer__text {
  display: block;
  width: 180px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  font-family: @content-font;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .gift-offer {
    margin-bottom: 76px;
    height: 200px;
    margin-right: 4%;
    margin-left: 4%;
  }


  .gift-offer__wrapper {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
    background-image: url("..//img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("..//img/gift-photo-tablet@2x.jpg");
      background-size: 100% auto;
    }


    &::before {
      margin: 0;
      margin-left: 89px;
    }
  }

  .gift-offer__text {
    margin-left: 278px;
    text-align: left;
  }
}


@media (min-width: @desktop-width) {
  .gift-offer {
    margin: 0;
    min-width: 240px;
    height: 290px;
    margin-left: 7%;
  }

  .gift-offer__wrapper {
    display: block;
    width: initial;
    margin: 0;
    background-image: url("..//img/gift-photo-desktop@1x.jpg");

    &::before {
      margin: 0;
      margin-left: 89px;
      margin-top: 62px;
      margin-bottom: 61px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("..//img/gift-photo-desktop@2x.jpg");
      background-size: contain;
    }
  }

  .gift-offer__text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}
