
.main-nav__toggle {
position: absolute;
right: 20px;
top:23px;

width: 25px;
height:19px;

border:none;
background: none;
background-image: url(..//img/icon-mobile-menu.svg);

cursor: pointer;
}

.main-nav__list {
display: flex;
flex-direction: column;
margin: 0;
padding: 0;

list-style: none;
}

.main-nav__item {
  position: relative;
border-top: 1px solid #f2f2f2;
width: 100%;
min-height: 65px;


cursor: auto;
}

.main-nav__link {
display: block;
height: auto;
margin-top: 24px;
font-size: 20px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
color: #111111;
font-weight: bold;
}


.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: @tablet-width) {
  .main-nav {
    flex-grow: 1;
  }

  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__item {
    &--active {
      &::after {
        content: "";

        display: block;
        position: absolute;
        bottom: 12px;
        width: 100%;
        height: 2px;
        background-color: @leaf;
      }
    }
  }

}

@media(min-width: @desktop-width) {

  .main-nav__item {
  width: fit-content;
  margin-right: 35px;
  }
  .main-nav__list {
  justify-content: start;
  }

  .main-nav {
  flex-grow: 0;
  }
}




