.main-nav {
  border-bottom: 1px solid #eaeaea;
}

.main-nav__logo-wrapper {
  display: inline-block;
  position: relative;
  width: 191px;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__container {
  width: 280px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-nav__toggle {
  border: none;
  background: none;
  position: absolute;
  top: 24px;
  right: 16px;
  width: 28px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-mobile-menu.svg");
  outline: none;

  &--close {
    background-image: url("../img/icon-close.svg");
    height: 18px;
    width: 25px;
  }
}

@keyframes menu__falling {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }


  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;


  list-style: none;
  display: none;

  &--open {
    display: block;
    animation: menu__falling 0.6s;
  }
}

.main-nav__item {
  min-height: 67px;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #eaeaea;

  &:first-of-type {
    border-top: 1px solid #eaeaea;
  }
}

.main-nav__link {
  display: block;
  margin-top: 18px;

  text-transform: uppercase;
  font-size: 20px;
  color: #111111;
  line-height: 1;
  font-weight: 500;

  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }


  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &:focus {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 4%;
    margin-right: 4%;
    align-items: flex-end;
    border: none;
  }

  .main-nav__logo-wrapper {
    width: 172px;
    height: 60px;
    margin-left: -18px;
  }

  .main-nav__container {
    width: auto;
    margin-top: 24px;
    padding: 0;
  }

  .main-nav__list {
    display: flex;

    justify-content: flex-end;

    flex-wrap: wrap;
    width: 73%;

    &--close {
      animation: none;
    }
  }

  .main-nav__item {
    width: auto;
    margin-left: 6.8%;
    border: none;

    &:first-of-type {
      border: none;
    }
  }

  .main-nav__link {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.39;
    color: #222222;
    font-weight: normal;

    &--active {
      &::after {
        content: "";

        display: block;

        width: 100%;
        height: 2px;
        background-color: @leaf;
        margin-top: 6px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    justify-content: space-between;
    margin-left: 7.6%;
    margin-right: 7.6%;
    padding-top: 32px;
    z-index: 2;
  }

  .main-nav__logo-wrapper {
    margin: 0;
    width: 202px;
  }

  .main-nav__container {
    margin: 0;
    margin-top: 21px;
  }

  .main-nav__list {
    justify-content: flex-end;
    margin: 0;
  }

  .main-nav__item {
    margin-left: 35px;
    border: none;
  }

  .main-nav__link {
    color: #222222;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;

    &--index {
      color: #ffffff;


      &:first-of-type::after {
        background-color: #ffffff;
      }

      &:hover {
        color: rgba(#ffffff, 60%);
      }

      &:active {
        color: rgba(#ffffff, 30%);
      }

      &:focus {

        color: rgba(#ffffff, 60%);
      }
    }
  }
}
