.page-footer {
min-width: 320px;
}

.page-footer__wrapper {
background-color: #f2f2f2;
}
.page-footer__contacts {
.centr;
margin-bottom: 26px;
}

.page-footer__map {
margin-bottom: 40px;
}

.page-footer__info {
min-width: 320px;
display: flex;
flex-direction: column;

}

.page-footer__logo {
display: block;
width: 128px;
margin: 0 auto;
margin-bottom: 56px;

cursor: pointer;
}

.page-footer__socials {
position: relative;
margin-bottom: 56px;

  &::before {
  content: "";

  position: absolute;
  top:-25px;
  left: 20px;

  display: block;
  width: 280px;
  height: 1px;

  background-color: #000000;
  opacity: 0.1;
  }
  &::after {
  content: "";

  position: absolute;
  top:50px;
  left: 20px;

  display: block;
  width: 280px;
  height: 1px;

  background-color: #000000;
  opacity: 0.1;
  }
}
.page-footer__copyright {
display: flex;
align-items: center;
justify-content: space-between;
width: 280px;
padding-left: 20px;
padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .page-footer__info {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  }
  .page-footer__copyright {
  width: fit-content;
  }

}
