.page-header {
display: flex;
flex-direction: column;
@media (min-width: 768px) {
  width: 100%;
  flex-direction: row;

  }
min-width: 320px;

}

.page-header__logo {
position: relative;

display: block;
width: 191px;
height: 39px;
padding-top: 11px;
margin-bottom: 15px;
margin-left: 10%;
}
