@media (min-width: @tablet-width) {
  .page-header__wrapper {
margin-left: 30px;
margin-right: 30px;

  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
margin-left: 7.6%;
margin-right: 7.6%;
padding-top: 25px;
z-index: 2;
  }
}
