.page-header {
.centr;
width: 320px;
padding-top: 11px;
}

.page-header__logo {
position: relative;
margin-bottom: 15px;
margin-left: 20px;
  &:hover {
  opacity: 0.8;
  }
  &:active {
  opacity: 0.6;
  }

}