.product__info {
  flex-grow: 1;
  width: 50%;
}

.product__stats {
  width: 100%;

  font-size: 12px;
  line-height: 1.23;
  font-family: @content-font;
  color: #444444;
  border-spacing: 0;
}

.product__property {
  text-align: left;
}

.product__value {
  text-align: right;
}

.product__title {
  width: 61%;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  font-weight: 400;
  padding-top: 5px;
  margin-bottom: 13px;

  & a:focus {
    outline: none;
    color: @leaf;
  }
}

@keyframes up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.product__image-link:focus {
  outline: none;

  & .product__image-wrapper {
    animation: up 0.3s;
    animation-fill-mode: forwards;
  }
}

.product__image-wrapper {
  width: 140px;
}

@media (min-width: @tablet-width) {
  .product__image-wrapper {
    margin-bottom: 33px;
    width: 322px;
    margin-top: -45px;

    &--big {
      width: 325px;
      margin-top: -82px;
    }
  }

  .product__title {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 17px;
    text-align: center;
    width: 59%;

    font-size: 20px;
    line-height: 1;
  }

  .product__info {
    margin-bottom: 35px;
    width: 77%;
    flex-grow: 0;
  }

  .product__stats {
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    border-spacing: 0 4px;
  }

  .product__stats-row {
    box-shadow: 0 1px 0 #cdcdcd;
  }
}

@media (min-width: @desktop-width) {
  .product__image-wrapper {
    width: 243px;

    &--big {
      width: 245px;
      margin-bottom: 32px;
      margin-top: -81px;
    }
  }

  .product__title {
    width: 78%;
  }

  .product__info {
    width: 69%;
  }
}
