.product__info {
  flex-grow: 1;
  width: 50%;
}

.product__stats {
  width: 100%;

  font-size: 12px;
  line-height: 1.33;
  font-family: @content-font;
  color: #444444;
}

.product__value {
  text-align: right;
}

.product__title {
  width: 61%;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}

.product__image-wrapper {
  width: 140px;
}

@media (min-width: @tablet-width) {
  .product__image-wrapper {
    margin-bottom: 33px;
    width: 322px;
    margin-top: -45px;

    &--big {
      width: 324px;
      margin-top: -81px;
    }
  }

  .product__title {
    margin: 0 auto;
    margin-bottom: 17px;
    text-align: center;
    width: 59%;

    font-size: 20px;
    line-height: 1;
    font-weight: 500;
  }

  .product__info {
    margin-bottom: 31px;
    width: 77%;
    flex-grow: 0;
  }

  .product__stats {
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    border-spacing: 0 4px;
  }

  .product__stats-row {
    box-shadow: 0 1px 0 #cdcdcd;
  }
}
