.product__info {
width: 140px;
}

.product__stats {
width: 130px;

font-size: 12px;
line-height: 1.33;
font-family: @content-font;
color: #444444;
}

.product__value {
text-align: right;
}

.product__title {
width: 100px;
margin-right: 100px;

font-size: 16px;
line-height: 1.25;
text-transform: uppercase;
color: #111111;
}

.product__image-wrapper {
width: 140px;
}

@media (min-width: @tablet-width) {
.product__image-wrapper {
  margin-bottom: 40px;
}

.product__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  width: 50%;
  margin-left: 60px;
  font-size: 20px;
}

.product__info {
margin-bottom: 33px;
width: 77%;
}

.product__stats {
font-size: 16px;
line-height: 25px;
width: 100%;
}


}
