.short-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  height: 490px;

  background-image: url("..//img/index-can-mobile@1x.png"), url("..//img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, @grass 62.24%, transparent 62.24%);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 76%, 0% 0%;
}


.short-description__title {
  margin: 0;
  padding-top: 28px;
  margin-bottom: 25px;

  text-align: center;
  color: #ffffff;
}

.short-description__title-add {
  display: block;
  margin-bottom: 302px;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.short-description__link {
  width: 87.5%;
  padding-bottom: 11px;
}

@media (min-width: 487px) {
  .short-description__title-add {
    margin-bottom: 340px;
  }
}

@media (min-width: @tablet-width) {
  .short-description {
    height: 865px;
    margin-bottom: 0;
    background-image: url("..//img/index-can-tablet@1x.jpg");
    background-position: 50% 100%;
    background-color: #ffffff;
    min-height: fit-content;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 92% 70.4%;
    }
  }

  .short-description__title {
    padding-top: 54px;
    text-align: left;
    font-size: 60px;
    line-height: 1;
    width: 65%;
    color: #111111;
    margin-bottom: 45px;
  }

  .short-description__title-add {
    color: #111111;
    font-size: 20px;
    text-align: left;
    margin-bottom: 51px;
  }

  .short-description__link {
    margin-left: 0;
    min-height: 52px;
    padding-top: 15px;

    max-width: 245px;
    font-size: 20px;
    line-height: 1;
  }

  .short-description__content {
    margin-left: 15.3%;
  }
}

@media (min-width: @desktop-width) {
  .short-description {
    height: 555px;
    margin-bottom: 113px;

    background-image: url("..//img/index-can-desktop@1x.png");
    background-position: 63% 60%;
    z-index: 3;
    background-color: transparent;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      display: block;
      width: 720px;
      height: 696px;
      background-color: @leaf;
      background-image: url("..//img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      z-index: -4;
    }
  }

  .short-description__content {
    margin-top: 49px;
    margin-left: 13.2%;
  }

  .short-description__title {
    width: 34%;
    margin-bottom: 44px;
  }

  .short-description__title-add {
    margin-bottom: 55px;
  }

  .short-description__link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    min-height: 52px;
  }
}
