.short-description {
margin-bottom: 22px;
}

.short-description__wrapper {
min-height: 305px;

background-image: url("..//img/index-background-mobile@1x.jpg");
}

.short-description__title {
margin: 0;
padding-top: 30px;
margin-bottom: 19px;

text-align: center;
color: #ffffff;
}

.short-description__title-add {
display: block;

font-size: 14px;
line-height: 1;
text-align: center;
color:#ffffff;
text-transform: uppercase;
}

.short-description__photo {
display: block;
margin: 0 auto;
margin-top: -135px;
}