.short-description {
display: flex;
flex-direction: column;
margin-bottom: 22px;
height: 490px;

background-image: url("..//img/index-can-mobile@1x.png"), url("..//img/index-background-mobile@1x.jpg");
background-repeat: no-repeat, no-repeat;
background-position: 50% 76%, 0% 0%;
}


.short-description__title {
margin: 0;
padding-top: 30px;
margin-bottom: 19px;

text-align: center;
color: #ffffff;
}

.short-description__title-add {
display: block;
margin-bottom: 302px;
font-size: 14px;
line-height: 14px;
font-weight: normal;
text-align: center;
color:#ffffff;
text-transform: uppercase;
}

.short-description__link {
  width: 280px;
}
@media (min-width: @tablet-width) {
  .short-description {
    height: 800px;
    margin-bottom: 0;
    background-image: url("..//img/index-can-tablet@1x.jpg");
    background-position: 60% 112%;
    background-color: #ffffff;
    min-height: fit-content;

  }
  .short-description__title {
    text-align: left;
    font-size: 60px;
    line-height: 1;
    width: 65%;
    color: #111111;
    margin-bottom: 33px;
  }
  .short-description__title-add {
    color: #111111;
    font-size: 20px;
    text-align: left;
    margin-bottom: 48px;
  }

  .short-description__link {
    margin-left: 0;
    min-height: 42px;
    padding-top: 12px;
    max-width: 245px;
  }

  .short-description__content {
    margin-left: 120px;
  }
}
