.showmore {
  position: relative;
  flex-direction: column;
  min-height: 210px;
  border-bottom: 1px solid #ededed;


  &::before {
    content: "";

    width: 31px;
    height: 31px;
    margin: 26px auto;
    margin-bottom: 19.8px;
    background-image: url("..//img/icon-plus-mobile.svg");
    opacity: 0.2;
  }
}

.showmore__title {
  width: 73%;
  margin: 0 auto;

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.showmore__text {
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  margin-bottom: 26px;
  font-family: @content-font;
  text-align: center;
  color: #444444;
}

.showmore__button {
  min-height: 30px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;

  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  &:focus {
    background-color: @leaf;
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .showmore {
    background-color: #ffffff;
    flex-grow: 1;
    box-shadow: 1px 1px 0 #cdcdcd inset,
      -1px -1px 0 #cdcdcd inset;

    &::before {
      background-image: url("..//img/icon-plus.svg");
      margin: 55px auto;
      margin-bottom: 49px;
      width: 61px;
      height: 61px;
    }
  }

  .showmore__title {
    font-size: 20px;
    width: 42%;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 1;
  }

  .showmore__button {
    min-height: 40px;
  }

  .showmore__text {
    margin: 0;
    font-size: 16px;
    width: 52%;
    margin-bottom: 90px;
    line-height: 1.2;
  }
}

@media (min-width: 1153px) {
  .showmore {
    margin-left: 6%;
  }
}

@media (min-width: @desktop-width) {
  .showmore {

    margin: 0;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    flex-grow: 0;
    width: 245px;
    box-shadow: none;

    &::before {
      margin: 56px auto;
      margin-bottom: 49px;
    }
  }

  .showmore__title {
    width: 66%;
    line-height: 1;
  }

  .showmore__text {
    margin: 0;
    width: 81%;
    margin-bottom: 87px;
  }

  .showmore__button {
    margin-bottom: 38px;
    padding-left: 38px;
    padding-right: 37px;
  }
}
