.showmore {
  position: relative;
  justify-content: center;
  min-height: 210px;

    &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: calc(50% - 16.5px);

    display: block;
    width: 31px;
    height: 31px;

    background-image: url(/img/icon-plus-mobile.svg);
    opacity: 0.2;
    }

    @media (min-width: 768px) {
      background-color: #ffffff;
    }
  }

.showmore__title{
padding-top: 83px;

font-size: 16px;
line-height: #111111;
text-align: center;
color: #111111;
}

.showmore__text {
font-size: 12px;
line-height: 16px;
font-family: @content-font;
text-align: center;
color: #444444;
}

.showmore__button {
min-height: 30px;

font-size: 16px;
line-height: 20px;
color: #444444;

background-color: #f2f2f2;
}
