.showmore__title{
padding-top: 83px;

font-size: 16px;
line-height: #111111;
text-align: center;
color: #111111;
}

.showmore__text {
font-size: 12px;
line-height: 16px;
font-family: @arial;
text-align: center;
color: #444444;
}

.showmore__button {
min-height: 30px;

font-size: 16px;
line-height: 20px;
color: #444444;

background-color: #f2f2f2;

  &:hover {
  color: #444444;

  background-color: #f2f2f2;
  }
}