.stats {
display: flex;
flex-wrap: wrap;
width: 280px;
justify-content: space-between;
}

.stats__item { 
width: 125px;
text-align: center;
border: 1px solid #cdcdcd;
border-radius: 3px;
position: relative;
margin-bottom: 38px;
}

.stats__value {
color: #111111;
line-height: 24px;
font-size: 24px;
display: block;
padding-top: 17px;
padding-bottom: 17px;

text-transform: uppercase;
}

.stats__property {
position: absolute;
top:51px;
left: 16%;
width: 87px;


font-family: @arial;
font-size: 12px;
line-height: 12px;
text-align: center;
color: #444444;

background-color: #f2f2f2;

text-transform: lowercase;
}

.stats__expenses {
width: fit-content;
margin: 0 auto;

font-weight: 400;
line-height: 20px;
color: #111111;
text-transform: uppercase;
}