.title {
  margin-right: 0;

  font-size: 36px;
  line-height: 1;
  color: #111111;
  font-weight: 400;


  &--green-line {
    display: flex;
    width: 100%;
    font-size: 24px;

    &::after {

      content: "";
      flex-grow: 1;

      height: 0.59em;
      margin-left: 6.5%;
      border-bottom: 3px solid @leaf;
    }
  }
}

@media (min-width: @tablet-width) {
  .title {
    &--green-line {
      font-size: 36px;

      &::before {
        content: "";
        width: 4%;
        height: 0.59em;
        margin-right: 5%;
        border-bottom: 3px solid @leaf;
      }
    }
  }
}


@media (min-width: @desktop-width) {
  .title {
    font-size: 60px;
    line-height: 1;

    &--green-line {
      font-size: 36px;


      padding-left: 40px;
      padding-right: 40px;
      background-color: #ffffff;
      position: relative;

      &::before {
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;
      }

      &::after {
        display: none;
      }
    }
  }
}
