.title {
  font-size: 36px;
  line-height: 1;
  color: #111111;
  font-weight: 400;
  margin-right: 0;

  &--green-line {
    &::after {
      content: "";
      margin-left: 10px;
      height: 0.5em;
      flex-grow: 1;
      border-bottom: 3px solid @leaf;
    }
  }
}

@media (min-width: @desktop-width) {
  .title {
    font-size: 60px;
    line-height: 1;
  }
}
